@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

/* TODO header */


/* TODO nav */


/* TODO section */


/* TODO image block*/


/* more button */

.btn {
    display: block;
    width: 100px;
    height: 45px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.btn-more:link {
    color: #f56a6a;
}

.btn-more:visited {
    color: #c7686c;
}

.btn-more:hover {
    background-color: #fdeff0;
}

.btn-more:active {
    color: #ffffff;
}

.btn-more {
    border: 3px solid #f27f83;
    margin: 20px 0 20px 0;
}

.btn-primary {
    background-color: #1f7ac9;
    color: white;
}

.btn-success {
    background-color: #56c36f;
    color: white;
}

.image-block {
    width: calc(33.33% - 5px*2);
    float: left;
    padding: 10px;
    margin: 5px;
}

.thumbnail {
    border-radius: 5px;
    width: 100%;
}

.section-title {
    display: block;
    width: 250px;
    border-bottom: solid 3px #f56a6a;
    margin: 0 0 30px 15px;
    padding: 0 20px 10px 0px;
}

.image-block-title {
    font-family: sans-serif;
    line-height: 4;
    color: #5d5b5b;
}

.image-block p {
    font-size: 10px;
    color: darkgray;
    font-family: sans-serif;
    letter-spacing: 1px;
}
