* {
    box-sizing: border-box;
}

[id^="box"] {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

[href$=".pdf"] {
    background-image: url(images/pdf.png);
    background-size: 50px 50px;
}

[href$=".docx"] {
    background-image: url(images/docx.png);
    background-size: 50px 50px;
}
